################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/
*.pdb
*.exe
/.vs/Nand2TetrisAssembler/v15
/bin/
