################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/Nand2TetrisAssembler/v15/Server/sqlite3
/.vs/Nand2TetrisAssembler/v15
/bin/Debug
